Django==5.2.4
djangorestframework
django-filter
django-cors-headers
django-allauth
dj-rest-auth
djangorestframework-simplejwt
drf-yasg==1.21.7

pandas
numpy
openpyxl
pillow
python-dateutil
pytz
sqlparse
tzdata